/*Libertine fonts from https://libertine-fonts.org/ */
/*Same code in ./libbiofont.css*/
@font-face {font-family: "Linux Biolinum"; src: url("../font/LinLibertine/LinBiolinum_R.woff") format("woff"); font-display: swap;}
@font-face {font-family: "Linux Biolinum"; src: url("../font/LinLibertine/LinBiolinum_RI.woff") format("woff"); font-style: italic; font-display: swap;}
@font-face {font-family: "Linux Biolinum"; src: url("../font/LinLibertine/LinBiolinum_RB.woff") format("woff"); font-weight: bold; font-display: swap;}
@font-face {font-family: "Linux Biolinum"; src: url("../font/LinLibertine/LinBiolinum_RBI.woff") format("woff"); font-weight: bold; font-style: italic; font-display: swap;}
@font-face {font-family: "Linux Libertine"; src: url("../font/LinLibertine/LinLibertine_R.woff") format("woff"); font-display: swap;}
@font-face {font-family: "Linux Libertine"; src: url("../font/LinLibertine/LinLibertine_RI.woff") format("woff"); font-style: italic; font-display: swap;}
@font-face {font-family: "Linux Libertine"; src: url("../font/LinLibertine/LinLibertine_RB.woff") format("woff"); font-weight: bold; font-display: swap;}
@font-face {font-family: "Linux Libertine"; src: url("../font/LinLibertine/LinLibertine_RBI.woff") format("woff"); font-weight: bold; font-style: italic; font-display: swap;}
@font-face {font-family: "Linux Libertine Mono"; src: url("../font/LinLibertine/LinLibertine_M.woff") format("woff"); font-display: swap;}
/*End of ./libbiofont.css*/
:root {color-scheme: light dark;}
html, body, h1, h2, h3, h4, h5, h6 {font-family:"Linux Libertine O","Linux Libertine", "DejaVu Serif", "Liberation Serif", Georgia, "Times New Roman", Times, Garamond, serif;}
/*html, body, h1, h2, h3, h4, h5, h6 {font-family:"Linux Biolinum O", "Linux Biolinum", "DejaVu Sans", "Liberation Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}*/
/*html, body, h1, h2, h3, h4, h5, h6 {font-family:"Linux Libertine Mono O", "Linux Libertine Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Courier New", monospace;}*/
a {text-decoration: none;}
hr {width: 200px;}
.w3-row-padding img {margin-bottom: 12px;}
.w3-sidebar {background: #222; width: 120px;}
#main {margin-left: 120px;}
@media only screen and (max-width: 600px){#main {margin-left: 0;}}
.w3-active-black {color:#fff !important; background-color:#000 !important;}
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer;}
.w3-badge {height:13px; width:13px; padding:0;}